@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}
.w-100{
    width: 100%;
}
.text-center{
    text-align: center;
}
.cursor-pointer{
    cursor: pointer;
}